
//@theme "/home/umutkandemir/.local/share/rofi/themes/style-3.rasi"

//@theme "/home/umutkandemir/.local/share/rofi/themes/style-3.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

//@theme "/home/umutkandemir/.local/share/rofi/themes/style-1.rasi"

//@theme "/home/umutkandemir/.local/share/rofi/themes/style-8.rasi"

@theme "/home/umutkandemir/.local/share/rofi/themes/style-8.rasi"
